<!DOCTYPE html>
<head>
    <title>abc</title>
    
</head>
<frameset rows="70%,30%">
<frameset cols="50%,50%">
    <frame src="QnAform.html">
        <frame src="desc.html">
</frameset>
<frame src="footer.html">
           
</html> 